In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [79]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [80]:
df=df.drop(['CustomerId','RowNumber','Surname'],axis=1)

In [81]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [82]:
## label encoding and one hot encoding the Gender and the Geography 
le_gender=LabelEncoder()
df['Gender']=le_gender.fit_transform(df['Gender'])
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

implementing  the one hot encoding for the geography cause we have 3 different
features for that which is not good for label encoding cause the neural network 
might take it as a  prioritization basis for the development of the model

In [83]:
#initialize the one hot encoder
ohe=OneHotEncoder(sparse_output=False)
## fit and transform
encoded=ohe.fit_transform(df[['Geography']])

## create dataframes with the column name 
encoded_df=pd.DataFrame(encoded,columns=ohe.get_feature_names_out(['Geography']))
encoded_df

## Drop the original column name and concatenate the new one 
df=df.drop(['Geography'],axis=1)
df=pd.concat([df,encoded_df],axis=1)

In [84]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [85]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [86]:
X

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 12 columns]

In [87]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [88]:
with open('le_gender.pkl','wb') as file:
    pickle.dump(le_gender,file)
with open("ohe_geo","wb") as file:
    pickle.dump(encoded_df,file)
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [89]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [90]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [91]:
### ! training the ANN for the regression problem statement

In [94]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [97]:
model = Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1) # default activation function is linear its spsecifically for regression

])

## compile the model
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                832

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [98]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

## setting up the tensorboard
log_dir="regressionLogs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
TensorBoard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [99]:
EarlyStopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [100]:
##Training the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[EarlyStopping_callback,TensorBoard_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 100373.9219 - mae: 100373.9219 - val_loss: 98499.4062 - val_mae: 98499.4062
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99538.1250 - mae: 99538.1250 - val_loss: 96796.6875 - val_mae: 96796.6875
Epoch 3/100
250/250 [==============================] - 0s 998us/step - loss: 96561.2109 - mae: 96561.2109 - val_loss: 92425.0156 - val_mae: 92425.0156
Epoch 4/100
250/250 [==============================] - 0s 931us/step - loss: 90762.6719 - mae: 90762.6719 - val_loss: 85272.0391 - val_mae: 85272.0391
Epoch 5/100
250/250 [==============================] - 0s 926us/step - loss: 82418.2812 - mae: 82418.2812 - val_loss: 76166.3594 - val_mae: 76166.3594
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 72847.4375 - mae: 72847.4375 - val_loss: 66978.8594 - val_mae: 66978.8594
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 63965.3281 - mae: 63965.3281 - val_loss: 59475.7656 - val_mae: 59475.7656
Epoch 8/100
250/250 [==============================] - 0s 885us/step - loss: 57381.1094 - mae: 57381.1094 - val_loss: 54569.2539 - val_mae: 54569.2539
Epoch 9/100
250/250 [==============================] - 0s 927us/step - loss: 53425.0586 - mae: 53425.0586 - val_loss: 52008.6680 - val_mae: 52008.6680
Epoch 10/100
250/250 [==============================] - 0s 870us/step - loss: 51438.7305 - mae: 51438.7305 - val_loss: 51094.1719 - val_mae: 51094.1719
Epoch 11/100
250/250 [==============================] - 0s 938us/step - loss: 50684.8984 - mae: 50684.8984 - val_loss: 50818.0273 - val_mae: 50818.0273
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50400.7969 - mae: 50400.7969 - val_loss: 50721.1992 - val_mae: 50721.1992
Epoch 13/100
250/250 [==============================] - 0s 875us/step - loss: 50263.7930 - mae: 50263.7930 - val_loss: 50670.1250 - val_mae: 50670.1250
Epoch 14/100
250/250 [==============================] - 0s 982us/step - loss: 50183.0117 - mae: 50183.0117 - val_loss: 50642.2031 - val_mae: 50642.2031
Epoch 15/100
250/250 [==============================] - 0s 851us/step - loss: 50127.3516 - mae: 50127.3516 - val_loss: 50608.4375 - val_mae: 50608.4375
Epoch 16/100
250/250 [==============================] - 0s 856us/step - loss: 50079.5859 - mae: 50079.5859 - val_loss: 50587.3203 - val_mae: 50587.3203
Epoch 17/100
250/250 [==============================] - 0s 778us/step - loss: 50035.2109 - mae: 50035.2109 - val_loss: 50553.7891 - val_mae: 50553.7891
Epoch 18/100
250/250 [==============================] - 0s 813us/step - loss: 49999.3867 - mae: 49999.3867 - val_loss: 50538.9297 - val_mae: 50538.9297
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49967.8047 - mae: 49967.8047 - val_loss: 50514.4570 - val_mae: 50514.4570
Epoch 20/100
250/250 [==============================] - 0s 983us/step - loss: 49934.9609 - mae: 49934.9609 - val_loss: 50491.2617 - val_mae: 50491.2617
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49905.5352 - mae: 49905.5352 - val_loss: 50466.5352 - val_mae: 50466.5352
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49880.2031 - mae: 49880.2031 - val_loss: 50450.3359 - val_mae: 50450.3359
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49854.9258 - mae: 49854.9258 - val_loss: 50437.6289 - val_mae: 50437.6289
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49834.1406 - mae: 49834.1406 - val_loss: 50422.7422 - val_mae: 50422.7422
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49809.8008 - mae: 49809.8008 - val_loss: 50412.5586 - val_mae: 50412.5586
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49787.5977 - mae: 49787.5977 - val_loss: 50402.8789 - val_mae: 50402.8789
Epoch 27/100
250/250 [==============================] - 0s 950us/step - loss: 49769.1211 - mae: 49769.1211 - val_loss: 50387.3594 - val_mae: 50387.3594
Epoch 28/100
250/250 [==============================] - 0s 846us/step - loss: 49748.8359 - mae: 49748.8359 - val_loss: 50388.9961 - val_mae: 50388.9961
Epoch 29/100
250/250 [==============================] - 0s 836us/step - loss: 49731.1875 - mae: 49731.1875 - val_loss: 50383.1641 - val_mae: 50383.1641
Epoch 30/100
250/250 [==============================] - 0s 850us/step - loss: 49714.8711 - mae: 49714.8711 - val_loss: 50366.2383 - val_mae: 50366.2383
Epoch 31/100
250/250 [==============================] - 0s 967us/step - loss: 49700.5195 - mae: 49700.5195 - val_loss: 50360.2344 - val_mae: 50360.2344
Epoch 32/100
250/250 [==============================] - 0s 862us/step - loss: 49686.3789 - mae: 49686.3789 - val_loss: 50354.7852 - val_mae: 50354.7852
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49671.4414 - mae: 49671.4414 - val_loss: 50354.6523 - val_mae: 50354.6523
Epoch 34/100
250/250 [==============================] - 0s 884us/step - loss: 49657.4336 - mae: 49657.4336 - val_loss: 50350.5938 - val_mae: 50350.5938
Epoch 35/100
250/250 [==============================] - 0s 834us/step - loss: 49648.2852 - mae: 49648.2852 - val_loss: 50332.6328 - val_mae: 50332.6328
Epoch 36/100
250/250 [==============================] - 0s 876us/step - loss: 49633.1328 - mae: 49633.1328 - val_loss: 50337.5703 - val_mae: 50337.5703
Epoch 37/100
250/250 [==============================] - 0s 831us/step - loss: 49622.7539 - mae: 49622.7539 - val_loss: 50326.0039 - val_mae: 50326.0039
Epoch 38/100
250/250 [==============================] - 0s 858us/step - loss: 49610.8164 - mae: 49610.8164 - val_loss: 50328.6641 - val_mae: 50328.6641
Epoch 39/100
250/250 [==============================] - 0s 838us/step - loss: 49601.3906 - mae: 49601.3906 - val_loss: 50330.9766 - val_mae: 50330.9766
Epoch 40/100
250/250 [==============================] - 0s 826us/step - loss: 49594.0703 - mae: 49594.0703 - val_loss: 50335.4375 - val_mae: 50335.4375
Epoch 41/100
250/250 [==============================] - 0s 804us/step - loss: 49580.1367 - mae: 49580.1367 - val_loss: 50328.9727 - val_mae: 50328.9727
Epoch 42/100
250/250 [==============================] - 0s 817us/step - loss: 49573.7852 - mae: 49573.7852 - val_loss: 50331.3867 - val_mae: 50331.3867
Epoch 43/100
250/250 [==============================] - 0s 794us/step - loss: 49561.6094 - mae: 49561.6094 - val_loss: 50305.6289 - val_mae: 50305.6289
Epoch 44/100
250/250 [==============================] - 0s 818us/step - loss: 49555.8320 - mae: 49555.8320 - val_loss: 50316.7617 - val_mae: 50316.7617
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49547.7031 - mae: 49547.7031 - val_loss: 50305.1016 - val_mae: 50305.1016
Epoch 46/100
250/250 [==============================] - 0s 953us/step - loss: 49538.3633 - mae: 49538.3633 - val_loss: 50312.1406 - val_mae: 50312.1406
Epoch 47/100
250/250 [==============================] - 0s 834us/step - loss: 49529.9219 - mae: 49529.9219 - val_loss: 50314.5352 - val_mae: 50314.5352
Epoch 48/100
250/250 [==============================] - 0s 785us/step - loss: 49524.6172 - mae: 49524.6172 - val_loss: 50308.6992 - val_mae: 50308.6992
Epoch 49/100
250/250 [==============================] - 0s 802us/step - loss: 49514.8906 - mae: 49514.8906 - val_loss: 50317.1523 - val_mae: 50317.1523
Epoch 50/100
250/250 [==============================] - 0s 914us/step - loss: 49508.5352 - mae: 49508.5352 - val_loss: 50313.6719 - val_mae: 50313.6719
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49500.7461 - mae: 49500.7461 - val_loss: 50313.3164 - val_mae: 50313.3164
Epoch 52/100
250/250 [==============================] - 0s 959us/step - loss: 49497.5234 - mae: 49497.5234 - val_loss: 50309.4961 - val_mae: 50309.4961
Epoch 53/100
250/250 [==============================] - 0s 982us/step - loss: 49489.0508 - mae: 49489.0508 - val_loss: 50299.8633 - val_mae: 50299.8633
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49484.4961 - mae: 49484.4961 - val_loss: 50305.9023 - val_mae: 50305.9023
Epoch 55/100
250/250 [==============================] - 0s 997us/step - loss: 49478.7070 - mae: 49478.7070 - val_loss: 50301.8281 - val_mae: 50301.8281
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49469.5430 - mae: 49469.5430 - val_loss: 50305.0586 - val_mae: 50305.0586
Epoch 57/100
250/250 [==============================] - 0s 976us/step - loss: 49463.0195 - mae: 49463.0195 - val_loss: 50324.3906 - val_mae: 50324.3906
Epoch 58/100
250/250 [==============================] - 0s 850us/step - loss: 49458.4141 - mae: 49458.4141 - val_loss: 50316.2969 - val_mae: 50316.2969
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49452.4648 - mae: 49452.4648 - val_loss: 50305.6133 - val_mae: 50305.6133
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49447.0156 - mae: 49447.0156 - val_loss: 50307.2617 - val_mae: 50307.2617
Epoch 61/100
250/250 [==============================] - 0s 921us/step - loss: 49440.9727 - mae: 49440.9727 - val_loss: 50315.6250 - val_mae: 50315.6250
Epoch 62/100
250/250 [==============================] - 0s 834us/step - loss: 49436.1719 - mae: 49436.1719 - val_loss: 50308.8984 - val_mae: 50308.8984
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 49433.9609 - mae: 49433.9609 - val_loss: 50310.4375 - val_mae: 50310.4375

In [101]:
%load_ext tensorboard

In [104]:
%tensorboard --logdir regressionLogs/git

Reusing TensorBoard on port 6008 (pid 91589), started 0:00:45 ago. (Use '!kill 91589' to kill it.)

In [106]:
## evaluate the model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f"Test mae  : {test_mae}")

63/63 [==============================] - 0s 382us/step - loss: 50299.8633 - mae: 50299.8633
Test mae  : 50299.86328125

In [107]:
model.save("regression_model.h5")

/Users/shantanukumar/Documents/codes/ANN-Basic/venv/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(